$primary: #3E50B4;
$accent: #FF3F80;
$white: #FFFFFF;

.container {
    background-color:#f5f7fa;
    overflow:hidden;
    display:block;
    width:100%;
    height:100%;
    margin:0 auto;
    padding:0;
    position:relative;
    .top-navigation {
        background-color:$primary;
        position:absolute;
        overflow:hidden;
        display:block;
        width:100%;
        height:70px;
        z-index:2;
        top:0;
        left:0;
        .content {
            position:relative;
            overflow:hidden;
            display:block;
            width:1000px;
            margin:0 auto;
            height:100%;
            .menu {
                position:absolute;
                display:block;
                height:100%;
                .menu-item {
                    margin:17px 10px;
                    position:relative;
                    display:block;
                    padding:6px 0;
                    color:$white;
                    cursor:pointer;
                    float:left;
                    &:after {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 0%;
                        border-bottom: 2px solid $white;
                        transition: 0.4s;
                    }
                    &:hover:after {
                        width:100%;
                    }
                    &.active:after { width:100%; }
                }
                &.left {
                    left:0;
                    top:0;
                }
                &.right {
                    right:0;
                    top:0;
                }
            }
        }
    }
    .wrapper {
        padding-top:70px;
        position:relative;
        display:block;
        width:100%;
        height:100%;
        z-index:1;
        .wrapper-content {
            overflow:hidden;
            display:block;
            height:100%;
            width:100%;
            overflow-y:auto;
            .content {
                position:relative;
                display:block;
                width:1000px;
                margin:0 auto;
                height:100%;
                padding:10px 0;
            }
        }
    }
}