/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
$primary: #3E50B4;
$accent: #FF3F80;
$white: #FFFFFF;
* {
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html, body { width:100%;height:100%;display:block;font-family:'Open Sans', sans-serif;}
body {
    overflow:hidden;
    overflow-y:auto;
    margin:0;
    padding:0;
}
.btn-primary {
    background-color:$primary;
    .mat-button-wrapper {
        color:$white;
    }
}
.btn-accent {
    background-color:$accent;
    .mat-button-wrapper {
        color:$white;
    }
}
.mat-dialog-container { padding:0 !important; }